<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/home.css">
    <link rel="icon" href="./static/kv_icon.png">
    <script src="https://kit.fontawesome.com/5a15c13a3e.js" crossorigin="anonymous"></script>
    <title>Kev Silver</title>
</head>
<body>
      <div>
          <div class="home float_left">
              <a href="/">
                  <h4>Home</h4>
              </a>
          </div>
            <div class="home float_left">/</div>
          <div class="home float_left">
              <a href="https://rebrand.ly/kevsilver_resume">
                  <h4>Resume</h4>
              </a>
          </div>
      </div>
      <div>
          <h1>Kev Silver</h1>
          <p>
              <i class="fas fa-map-marker-alt fa-1x"></i>
              San Francisco, CA
          </p>
          <div class="content">
              <p>I'm a data engineer who thrives on distributed data systems, container orchestration, and espresso.<p>
              <p>I recently joined the engineering department at <a href="https://www.diamondfoundry.com/">Diamond Foundry</a>, where my team's data infrastructure is supporting the rapid growth of a global-scale diamond manufacturing operation.
          </div>

          <div class="social-icon">
              <a href="mailto:kev@iam.kvb0t.com">
                  <i class="fas fa-envelope fa-3x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://twitter.com/kv_pair">
                  <i class="fab fa-twitter fa-3x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://www.linkedin.com/in/kevsilver">
                  <i class="fab fa-linkedin fa-3x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://github.com/kvb0t">
                  <i class="fab fa-github fa-3x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://www.steamcommunity.com/id/kv_b0t">
                  <i class="fab fa-steam fa-3x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://discord.gg/KkqaCA69">
                  <i class="fab fa-discord fa-3x"></i>
              </a>
          </div>

      </div>
</body>
</html>