<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/home.css">
    <script src="https://kit.fontawesome.com/5a15c13a3e.js" crossorigin="anonymous"></script>
    <title>Kev Silver</title>
</head>
<body>
      <div>
          <h1>Kev Silver</h1>
          <p><small>
              <a href="https://www.google.com/maps/place/Potrero+Hill,+San+Francisco,+CA/@37.7574505,-122.4131476,14">
                  <i class="fas fa-map-marker-alt"></i>
              </a>
              San Francisco, CA
          </small></p>
          <div class="content">
              <p>I'm a data engineer who thrives on distributed data systems, container orchestration, and espresso.<p>
              <p>I recently joined the engineering team at <a href="https://www.diamondfoundry.com/">Diamond Foundry</a>, where my team's data infrastructure supports the exponential growth of a global-scale diamond manufacturing operation.
          </div>

          <div class="social-icon">
              <a href="mailto:kev@iam.kvb0t.com">
                  <i class="fas fa-envelope fa-2x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://twitter.com/kv_pair">
                  <i class="fab fa-twitter fa-2x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://www.linkedin.com/in/kevsilver">
                  <i class="fab fa-linkedin fa-2x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://github.com/kvb0t">
                  <i class="fab fa-github fa-2x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://www.steamcommunity.com/id/kv_b0t">
                  <i class="fab fa-steam fa-2x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://discordapp.com/users/866203522239561788/">
                  <i class="fab fa-discord fa-2x"></i>
              </a>
          </div>

      </div>
</body>
</html>