<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/home.css">
    <link rel="icon" href="./static/kevsilver_icon.png">
    <script src="https://kit.fontawesome.com/5a15c13a3e.js" crossorigin="anonymous"></script>
    <title>Kev Silver</title>
</head>
<body>
      <div>
          <div class="home float_left">
              <a href="/">
                  <h4>Home</h4>
              </a>
          </div>
            <div class="home float_left">/</div>
          <div class="home float_left">
              <a href="https://rebrand.ly/kevsilver" target=”_blank”>
                  <h4>Resume</h4>
              </a>
          </div>
      </div>
      <div>
          <h1>Kev Silver</h1>
          <p>
              <i class="fas fa-map-marker-alt fa-1x"></i>
              San Francisco, CA
          </p>
          <div class="content">
              <p>I'm a data engineer who thrives on data challenges at any scale.</p>
              <p></p>
              <p>As Principal Data Engineer at <a href="https://www.diamondfoundry.com/" target=”_blank” style="color: #e39dfc">Diamond Foundry</a>, I've built the quality control data systems and reporting infrastructure which power the market leader in the $25B lab-grown diamond industry. In my spare time, I design and perform with ventriloquist puppets, a hobby I've enjoyed for nearly 15 years.</p>
              <p></p>
              <p>Drop me a line using one of the links below!</p>
          </div>

          <div class="social-icon">
              <a href="mailto:email@kevsilver.com">
                  <i class="fas fa-envelope fa-3x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://www.linkedin.com/in/kevsilver">
                  <i class="fab fa-linkedin fa-3x"></i>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://github.com/aghs-scepter">
                  <i class="fab fa-github fa-3x"></i>
              </a>
          </div>

      </div>
</body>
</html>